## IMPORTANT
# This file is used to set environment variables.
# Do not commit this file to version control.

##########################
# Langfuse Configuration #
##########################
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

##########################
# OpenAI Configuration   #
##########################
OPENAI_API_KEY=

##########################
#    HF Configuration    #
##########################
HUGGINGFACE_API_KEY=

##########################
#   MCP Configuration    #
##########################
MCP_TOKEN=